.linia__vertical-home {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  border: 1px solid #fff;
  height: 120px;
  width: 0;
  margin: 0 auto;
}

.tarjetas__home {
  background-image: url("../img/fondo.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 30px;
  margin: 30px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tarjetas__home > .container__image {
  width: 7rem;
}
.tarjetas__home > .texto {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  text-align: center;
}

.imagen-galeria {
  -ms-grid-column-align: center;
      justify-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.imagen-galeria .container__image-portfolio {
  width: 20rem;
}
.imagen-galeria .container__image-portfolio .image-portfolio {
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
}
.imagen-galeria .efecto {
  width: 20rem;
  aspect-ratio: 1;
  position: absolute;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
}
.imagen-galeria .efecto:hover {
  opacity: 1;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.imagen-galeria-mobile {
  -ms-grid-column-align: center;
      justify-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.imagen-galeria-mobile .container__image-portfolio {
  width: 15rem;
}
.imagen-galeria-mobile .container__image-portfolio .image-portfolio {
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 100%;
}