@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

svg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__logo {
  width: 2.7rem;
  margin-left: 1rem;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
  background-color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 4rem;
}

.arrow-up {
  background-color: #ffc4c4;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
}

.arrow__image {
  width: 1rem;
}

.footer__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
  width: 2.5rem;
}

.footer__list {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: iconos;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  margin: 5px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__item {
  list-style: none;
  width: 30px;
}

.derechos__texto {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: texto;
  text-align: center;
  color: #f7aee5;
  font-weight: 300;
}

.hero__legal .hero__title {
  background-color: #ffc4c4;
  color: #fff;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.parrafo {
  margin: 30px;
  text-align: justify;
}

.title {
  background-color: #fff7e3;
  color: #ffc4c4;
  padding: 1rem;
  text-align: center;
}
.title .datos__ul {
  list-style: square inside;
}

.animacion ::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#a387e5), color-stop(#f7aee5), to(#ffc4c4));
  background: linear-gradient(to right, #a387e5, #f7aee5, #ffc4c4);
  z-index: 1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.animacion a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.animacion a [data-animation=bonus] a::before {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.animacion a [data-animation=bonus] a:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
          transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}

.header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

/* MENU DE NAVEGACIÓN */
.nav__button, .header__button-nav--open {
  display: none;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}
.nav__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 10px;
  position: relative;
  padding: 0 10px;
}
.nav__link {
  text-decoration: none;
  letter-spacing: 0.3rem;
  color: #a387e5;
  padding: 0.1rem;
  position: relative;
  text-transform: uppercase;
}

footer {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
  grid-template-columns: repeat(3, auto);
      grid-template-areas: "iconos logo texto";
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 9999;
  border-radius: 30px 30px 0 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero__contact {
  background-color: #f7aee5;
  width: 100%;
}
.hero__contact .hero__container-contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[3];
  grid-template-rows: repeat(3, auto);
      grid-template-areas: "titulo formulario" "subtitulo formulario" "imagen formulario";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.hero__contact .hero__text-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__contact .hero__titulo-contact {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
  color: #fff;
  font-size: 7rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
}
.hero__contact .hero__titulo-contact .salto-linia::before {
  content: "\a";
  white-space: pre;
}
.hero__contact .hero__subtitulo-contact {
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
}
.hero__contact .hero__form-contact {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: formulario;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__contact .container__image {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: imagen;
  width: 20rem;
  padding: 30px;
}
.hero__contact .container__form {
  background-color: #a387e5;
  border-radius: 15rem 0 15rem 0;
  padding: 7rem;
  margin: 0;
  height: 100%;
  width: 50vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.hero__contact .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 1rem;
}
.hero__contact .form > .nombre {
  -ms-grid-column-align: center;
      justify-self: center;
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
}
.hero__contact .form > .nombre > input {
  border: none;
  border-radius: 30px;
  width: 100%;
  padding: 10px;
  margin-inline: 1rem;
}
.hero__contact .form > .nombre > input:focus {
  border: 3px solid #f7aee5;
  outline: none;
}
.hero__contact .form > .apellidos {
  -ms-grid-column-align: center;
      justify-self: center;
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
}
.hero__contact .form > .apellidos > input {
  border: none;
  border-radius: 30px;
  width: 100%;
  padding: 10px;
  margin-inline: 1rem;
}
.hero__contact .form > .apellidos > input:focus {
  border: 3px solid #f7aee5;
  outline: none;
}
.hero__contact .form > .mail {
  -ms-grid-column-align: center;
      justify-self: center;
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
}
.hero__contact .form > .mail > input {
  border: none;
  border-radius: 30px;
  width: 100%;
  padding: 10px;
  margin-inline: 1rem;
}
.hero__contact .form > .mail > input:focus {
  border: 3px solid #f7aee5;
  outline: none;
}
.hero__contact .form > .mensaje {
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
}
.hero__contact .form > .politica-legal {
  text-align: center;
  padding: 10px;
  color: #fff;
}
.hero__contact .form > .politica-legal .politica-legal__link {
  text-decoration: none;
  color: #f7aee5;
}
.hero__contact .form > .politica-legal .politica-legal__link:hover {
  color: #ffc4c4;
}
.hero__contact .textarea {
  border: none;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  margin-inline: 1rem;
}
.hero__contact .textarea:focus {
  border: 3px solid #f7aee5;
  outline: none;
}
.hero__contact .obligatorio:before {
  content: "*";
  color: red;
}
.hero__contact .button__submit {
  background-color: #f7aee5;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  margin-inline: 15rem;
}
.hero__contact .button__submit:hover {
  background-color: #ffc4c4;
}

.contacto__seccion-final {
  background-color: #ffc4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}