@charset "UTF-8";
img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

svg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.3rem;
  z-index: 9999;
  background-image: url("../img/fondo.webp");
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.text {
  font-size: 15rem;
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 50 130;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}
.text:nth-child(5n+1) {
  stroke: #fff;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n+2) {
  stroke: #e9bed1;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}
.text:nth-child(5n+3) {
  stroke: #2c438f;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}
.text:nth-child(5n+4) {
  stroke: #e9bed1;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}
.text:nth-child(5n+5) {
  stroke: #2c438f;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
svg > .text {
  font-size: 11rem;
}

.animacion ::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#1f09e2), color-stop(#78e8e4), to(#85eb8c));
  background: linear-gradient(to right, #1f09e2, #78e8e4, #85eb8c);
  z-index: 1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.animacion a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.animacion a [data-animation=bonus] a::before {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.animacion a [data-animation=bonus] a:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
          transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}

.header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* MENU DE NAVEGACIÓN */
.nav__button, .header__button-nav--open {
  display: none;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}
.nav__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 10px;
  position: relative;
  padding: 0 10px;
}
.nav__link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3rem;
  color: #fff;
  padding: 0.1rem;
  position: relative;
  text-transform: uppercase;
}

.footer {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 9999;
  border-radius: 30px 30px 0 0;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  margin: 5px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__item {
  list-style: none;
  width: 30px;
}
.footer__item:hover {
  scale: 120%;
}

.linia__divisoria {
  background-color: #2c438f;
  width: 700px;
  height: 1px;
}

.derechos__texto {
  text-align: center;
  color: #2c438f;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#body__sobre-mi {
  background-image: url(../img/fondo-tercero.webp);
  background: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sobre-mi {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[5];
  grid-template-rows: repeat(5, auto);
      grid-template-areas: "foto nombre" "foto apellido" "foto profesion" "foto subtitulo" "foto descripcion";
}

.titulo__nombre {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.nombre {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nombre;
}

.apellido {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: apellido;
}

.container__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  grid-area: foto;
  width: 3rem;
}
/*# sourceMappingURL=_sobre-mi.css.map */